# Project Settings
PROJECT_NAME="Pressforge API"

# Database Configuration
# format: postgresql://[user]:[password]@[host]:[port]/[database]
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pressforge"
